<% include partials/header %>
<title>ResearchConnect</title>

<div class="container">
	<img src="images/logo_main.jpg" class="img-fluid border rounded-pill mb-4">
	<div class="d-flex justify-content-center">
		<a class="btn btn-lg rounded-pill" href="/jobs" role="button" id="browse">Browse Positions</a>
	</div>
</div>

<% include partials/footer %>
