<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<p class="h1 text-center" id="title">ResearchConnect</p>
		<p class="lead text-center">
			A one stop shop for your undergraduate research needs
		</p>
		<hr class="my-4">
		<a class="btn btn-outline-primary btn-lg btn-block" href="/jobs" role="button">Browse Jobs</a>
	</div>
</div>

<% include partials/footer %>
