<% include partials/header %>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h1 class="display-4 text-center border border-top-0 border-right-0 border-left-0 p-2 mb-4">
				Register 
			</h1>
			
			<div class="list-group list-group-horizontal mt-4">
				<a href="/register/student" class="list-group-item list-group-item-action selectAuth">
					<div class="d-flex flex-column w-100 justify-content-center">
						<div>
							<h5 class="mb-0 text-center">Student Registration</h5>
						</div>
						
						<div>
							<p class="mb-1 text-center">I am a student</p>
						</div>
					</div>
				</a>
				<a href="/register/employer" class="list-group-item list-group-item-action selectAuth">
					<div class="d-flex flex-column w-100 h-100 justify-content-center align-content-center">
						<div>
							<h5 class="mb-0 text-center">Employer Registration</h5>
						</div>
						
						<div>
							<p class="mb-1 text-center">I am an employer</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
