.jumbotron {
  background-image: url("../logos/jumbotron_bg.jpg");
  background-size: 100% 100%;
}

.specifyMajor {
	display: none;
}

#browse {
	width: 80%;
	background-color: #6a9491;
	color: white;
}

#browse:hover {
	background-color: #37615e;
}

#filterButton {
	background-color: #6a9491;
	color: white;	
}

.dropdown-menu .dropdown-item:hover {
	background-color: #007BFF;
	color: white;
}

.save-status {
	display: none;
}

.selectAuth:hover {
	background-color: #007BFF;
	color: white;
}

#companyName {
	font-size: 1.8rem;
}

body {
  padding-top: 90px;
}

@media (max-width: 768px) { 
	#title {
		font-size: 2rem;
	}
	body {
	  padding-top: 70px;
	}
}

#addJob {
	display: none;
}

.resumeForm2, .resumeForm3 {
	display: none;
}

